@import "colors";

button {
  &:focus {
    outline: 0 none;
  }
}

input {
  padding: 0.7em;
  border: 1px solid #eee;
  border-radius: 0.5em;

  transition-duration: 0.3s;
  transition-property: color, border-color;

  &:focus {
    border-color: $top-color;
    outline: 0 none;
  }
}